.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container{
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
}
.procced-link{
    text-decoration: none;
}
.btn-proceed{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px auto;
    background-color: #ff9090;
    border-radius: 4px;
    color: #fff;
    font-size: 19px;
    height: 50px;
    align-items: center;
    text-decoration: none;
}